<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>

     <div class="full-screen-image"></div>
     <div class="content">
          <h2>{{title}}</h2>
          <form id="form1">
               <input type="text" id="address" placeholder="Enter country name">
               <button>Find info</button>
          </form>
          {{!-- <img src="{{img6}}" alt="Image"> --}}
          <div class="info" id="infoBox">
               <p id="location"></p>
               <p id="latitude"></p>
               <p id="longitude"></p>
               <p id="forecast"></p>
               <p id="error"></p>
          </div>

     </div>

          <script src="js/script.js"></script>
      </body>
</html>





{{!-- <h2> {{title}} </h2>
<img src={{img6}} alt="">

<form id="form1">
     <input type="text" id="address">
     <button>Search</button>
</form>
<p id="location"></p>
<p id="forecast"></p>
<p id="error"></p> --}}

